@import url('https://fonts.googleapis.com/css2?family=Wix+Madefor+Text&display=swap');

:root{
  --font-color: #ffffff;
  --back-color: #222;
  --body-color: #000000;
  --logo-img:#7aff33 ;
  /* --logo-img:#4bf2de ; */

    

  --back-button: white;
  --font-button-color: #222222;

}

*{

  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Wix Madefor Text", sans-serif;
  list-style: none;
  text-decoration: none;
}

body{
  background: var(--body-color);
  overflow-x: hidden;

}

.header__burger-btn{
  display: none;
}

@media only screen and (min-width: 1000px) and (max-width: 10000px){
  .wrapper{
    margin-top: 10px;
  }

  .box{
    width: 100%;
    display: flex;
    gap: 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    user-select: none;

    
    width: 80%;
    border: 2px solid rgba(128, 128, 128, 0.105);
    border-radius: 60px;
    padding: 10px 30px;
    background-color: var(--back-color);
    color: var(--font-color);
  }

  .header__logo{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
  }

  .header__logo__img{
    border: 1px solid rgba(0, 0, 0, 0.295);

    width: 50px;
    height: 50px;
    background-color: var(--logo-img);
    border-radius: 30px;
    cursor: pointer;
  }

  .header__logo__text{
    color: var(--font-color);
    font-size: 20px;
    cursor: pointer;
  }

  .header__menu__ul{
    display: flex;
    gap: 4px;
    justify-content: center;
    align-items: center;
    list-style: none;
    font-size: 18px;
  }
  
  .header__li{
    padding: 10px 20px;
  }
  
  .header__li:hover{
    padding: 10px 20px;
    border-radius: 30px;
    cursor: pointer;
    background-color: #5a595964;
  }

  .header__sign__up{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }

  .header__sign__up .sing__up{
    background-color: var(--back-button);
    color: var(--font-button-color);
    cursor: pointer;
    font-weight: bold;
    border: none;
    border-radius: 20px 20px 0px 20px;
    padding: 10px 20px;
    transition: all 0.1s ease-out;
  }

  .header__sign__up .sing__up:active{
    transform:scale(0.9);
  }

  .header__sign__up .login{
    
    cursor: pointer;
    font-weight: bold;
    background-color: var(--logo-img);
    border: 1px solid rgba(0, 0, 0, 0.295);
    border-radius: 20px 20px 20px 0px;
    padding: 10px 20px;
    transition: all 0.1s ease-out;
  }

  .header__sign__up .login:active{
    transform: scale(0.9);
  }
/* ============================================================================ */

.main{
  scrollbar-color: red;
  width: 100%;
  height: 1000px;
  /* border: 2px solid rgba(255, 255, 255, 0.184); */
  /* border-radius: 60px; */
  padding: 10px 30px;
  background-color: var(--back-color);
  color: var(--font-color);
}

.dark{
  --font-color: #222222;
  --back-color: #ffffff;
  --body-color: #e9e9e9;
  --logo-img: #ffffff;
  --back-button: #222222;
  --font-button-color: white;
  color-scheme: light;
}
}





/* // --font-color: #000;
// --back-color: #ffffff;
// --body-color: #b3b2b2ad;
// --logo-img: #ffffff;


// --font-color: #ffffff;
// --back-color: #30303085;
// --body-color: #191919;
// --logo-img: #caff33; */